<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block name="title"}网站标题{/block}-陈雅婷 Love 杨财</title>
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/static_pages.css" rel="stylesheet">
</head>
<body>
<div class="nav navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">微博App</a>
    </div>
    <ul class="nav navbar-nav pull-right">
        <li class="navbar-item"><a class="navbar-link" href="#">帮助</a></li>
        <li class="navbar-item"><a class="navbar-link" href="#">登录</a></li>
    </ul>
</div>
<div class="container">
    {block name="body"}{/block}
</div>
<script src="/static/jquery-3.3.1/jquery-3.3.1.min.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>