<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block name="title"}网站标题{/block}-陈雅婷 Love 杨财</title>
    <link href="__STATIC__/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/static_pages.css" rel="stylesheet">
</head>
<body>
{include file="layouts/_header"}
<div class="container">
    {include file="shared/_messages" /}
    {block name="body"}{/block}
</div>
{include file="layouts/_footer"}
<script src="__STATIC__/jquery-3.3.1/jquery-3.3.1.min.js"></script>
<script src="__STATIC__/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>