<li class="media">
    <div class="media-left">
        <a href="{:url('/users/'.$user->id)}">
            <img src="http://www.gravatar.com/avatar/87fc062d453ef102e6e52bf53d562af2?s=100" alt="{$user->name}" class="gravatar img-circle" style="height: 50px;width: 50px;"/>
        </a>
    </div>
    <div class="media-body">
        <h5 class="media-heading">{$user->name}<small>/{$status->created_at}</small></h5>
        {$status->content}
    </div>

    <div class="media-right">
        {if (($status->user_id === Session::get('user')->id) || (Session::get('user')->is_admin == 1))}
        <form action="{:url('/statuses/',['id'=>$status.id])}" method="post" class="float-right" onsubmit="return confirm('您确定要删除本条微博吗？'); ">
            {:token()}
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-sm btn-danger delete-btn">删除</button>
        </form>
        {/if}
    </div>

</li>
