<tr>
    <td>
        {$user.id}
    </td>
    <td>
        <a href="{:url('users/read',['id'=>$user.id])}">
            {$user->name}
        </a>
    </td>
    <td>
        {if (($user.id != Session::get('user')->id) && (Session::get('user')->is_admin == 1))}
        <form action="{:url('users/delete',['id'=>$user.id])}" method="post" class="float-right">
            {:token()}
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-sm btn-danger delete-btn">删除</button>
        </form>
        {/if}
    </td>

</tr>