{extend name='layouts/default'}

{block name='title'}注册{/block}

{block name='body'}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="col-md-12">
            <div class="col-md-offset-4 col-md-4">
                <a href="{:url('/users/'.$user->id)}">
                    <img src="http://www.gravatar.com/avatar/87fc062d453ef102e6e52bf53d562af2?s=100" alt="{$user->name}" class="gravatar"/>
                </a>
            </div>
            <div class="col-md-offset-3 col-md-4">
                <h1>{$user->name}</h1>
            </div>
        </div>
    </div>
</div>
{/block}